@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}


div img {
  margin: 0 auto;
  display: block;
}

.fixed {
  position: fixed;
  right: 100px;
  bottom: 120px;
}
.top img{
  width: 45px;
  height: 50px;
  padding: 10px;
  border: 3px solid #B8B3C9;
  border-radius: 50%;
}

.fixed2 img{
  width: 45px;
  height: 45px;
  padding: 10px;
  border: 3px solid #B8B3C9;
  border-radius: 50%;
}
.fixed:hover {
  opacity: 0.8;
}

.fixed2 {
  position: fixed;
  right: 100px;
  bottom: 40px;
}

.fixed2:hover {
  opacity: 0.8;
}